

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [1]:
x=10
x

10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [2]:
is_valid=True
is_valid

True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [3]:
name="Python Programming"
name

'Python Programming'

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [4]:
sum_result=5 + 3
sum_result

8

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [6]:
a = 5
b = 10
c = 15
print(a,b,c)

5 10 15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [7]:
x=4
y=x
print(y)

4

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [8]:
gravity=9.8 
gravity

9.8

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [9]:
country="Madagascar"
country

'Madagascar'

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [10]:
age= 25
age=age+1
age

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [11]:
a=20 - 7
a

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [14]:
b=12
e=25

print(b)
print(e)

12
25

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [15]:
is_completed=False
is_completed

False

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [17]:
x,y=4,6
y,x

(6, 4)

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [18]:
complex_num=3 + 4j
complex_num

(3+4j)

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [19]:
a=37
a=str(a)
a

'37'

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [24]:
first_name="HARILOVA "
last_name="JULIANNA"
myFirstAndLastNames=first_name+last_name
print (myFirstAndLastNames)

HARILOVA JULIANNA

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [25]:
temperature=35.5
temperature

35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [26]:
product=8 * 6
product

48

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [27]:
sentence="I don't give up"
sentence

"I don't give up"

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [30]:
int_value="50"
int_value=int(int_value)
int_value

50

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [31]:
quotient=144/12
quotient

12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [33]:
remainder=47%5
remainder

2

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [34]:
result =45 % 4
result

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [35]:
pi=3.14159
pi

3.14159

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [36]:
length =8
width=6
area=(length*width)/2
area

24.0

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [37]:
negative_value= -23
negative_value

-23

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [38]:
greeting="Hello, World!"
greeting

'Hello, World!'

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [39]:
population=10000000000000
population

10000000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [40]:
x=2**8
x

256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [41]:
fruits="banana"
fruits

'banana'

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [42]:
coordinates=(2,3,4)
coordinates

(2, 3, 4)

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [44]:
person={'name':'Julianna','age':34}
person

{'name': 'Julianna', 'age': 34}

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [45]:
a=34.4
b=46.0
somme= a+b
somme

80.4

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [46]:
is_sunny=10 > 5
is_sunny

True

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [48]:
a="I need some coffe as "
b=3
print(a,b)

I need some coffe as  3

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [49]:
a=21
a=bool(a)
a

True

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [50]:
is_weekend =0
is_weekend =bool(is_weekend )
is_weekend

False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [54]:
description= print("hello \nwhat your name \ngood bye")
description

hello
what your name
good bye

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [55]:
absolute_value=abs(-25)
absolute_value

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [56]:
floor_div_result=100 // 6

floor_div_result

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [58]:
a=4
a=int(a)
b=5.6
b=float(b)
mixed_sum= a+b
mixed_sum

9.6

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

-

In [60]:
a = 10
b = 15
c=a>b
d=a<b
print(c)
print(d)

False
True

--

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [61]:
s="qhjkdjknkdkndkjnkqlkq,fjb js kqkjwdkqnhkjnkq,dnmklmkjnfjkwlkm;awkefjmnklsmksmlkwfjk"
len(s)

83

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [62]:
division_result=7 / 3
division_result

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [63]:
speed=100/60
speed

1.6666666666666667

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [67]:
x = 4
y = 3* x + 5
y

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [68]:
a=[3,47,539]
calculate=sum(a)/len(a)
calculate

196.33333333333334